:root{
    --task-width: 70%;
    --edit-width: 10%;
    --remove-width: 10%;
}

body{
    user-select: none;
}

.container{
    background-color: burlywood;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
}

h1{
    text-align: center;
    background-color: cadetblue;
    width: 100%;
}

.inputs-container{
    background-color: green;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.inputs-container-item{
    background-color: grey;
    text-align: center;
    width: 45%;
    transition: all 1s;
    padding: 10px;
}

.task-input, .search-input{
    max-width: 70%;
    transition: all 1s;
    border: none;
    padding: 10px;
    margin: 10px;
}

.addTaskBtn, .searchBtn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}



.tasks-container{
    width: 100%;
    background-color: saddlebrown;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    transition: all 1s;
}



.task-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    background-color: midnightblue;
    margin: 10px;
    width: 80%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    
    transition: all 1s;
}



.task-container-active{
    width: 80%;
    height: auto;
    opacity: 1;
    visibility: visible;
}

.task-container:hover{
    transform: scale(1.1);
    cursor: pointer;
}

/*
.tasks-container-item{
    text-align: center;
    background-color: crimson;
    display: flex;
    width: 80%;
}
*/

.itemTask{
    background-color: palegreen;
    width: 70%;
    text-align: center;
    overflow:hidden;
    text-overflow: ellipsis;
    padding: 10px;
}

.task-btns{
    background-color: thistle;
    width: 25%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
}

i{
    cursor: pointer;
    transition: all .5s;
}

.fa-edit:hover {
    color: rgb(50, 70, 168);
    transform: scale(1.3);
}

.fa-trash-alt:hover {
    color: red;
    transform: scale(1.3);
}

/*
i:hover {
    color: red;
    transform: scale(1.3);
}*/

.edit-Task{
    background-color: tomato;
    padding: 10px 20px;
}

.remove-Task{
    background-color: slategray;
    
    padding: 10px 20px;
}


.on-edit-input{
    width: 70%;
    background-color: darkgoldenrod;
    border: none;
    padding: 10px;
}

.saveBtn {
    background-color: yellow;
}

.saveBtn:hover{
    transform: scale(1.1);
    color: rgb(50, 70, 168);
}

.edited-task{
    background-color: slategray;
    width: 70%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


@media only screen and (max-width: 600px) {
    .task-btns{
        width: 100%;
    }

    .itemTask{
        width: calc(100% - 20px);
        overflow: visible;
        word-wrap: break-word;
        border-bottom: 2px solid gray;
    }

    .edited-task{
        width: 100%;
    }

    .on-edit-input{
        width: 100%;
    }
}


@media only screen and (max-width: 550px) {
    .inputs-container-item{
        width: 100%;
    }
    .task-input, .search-input{
        max-width: 100%;
    }
    /*
    .task{
        width: 100%;
    }*/
}




/*

.itemEdit{
    background-color: yellowgreen;
    width: 10%;
    text-align: center;
    margin: auto;
    padding: 10px;
}

.itemRemove{
    background-color: royalblue;
    width: 10%;
    text-align: center;
    margin: auto;
    padding: 10px;
}

*/



/*

.task{
    background-color: orange;
    min-width: 70%;
    word-wrap: break-word;

}

.edit, .remove{
    background-color: mediumvioletred;
    width: 10%;
    word-wrap: break-word;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    text-align: center; 
}*/
